.container {
  max-width: 600px;
  margin: auto;
}

.block {
  padding: 10px 10px 5px 10px;
  border: 2px var(--vscode-editor-foreground) solid;
  margin-bottom: 10px;
}

.logo {
  float: right;
  max-width: 100px;
}

.docs {
  clear: both;
  display: flex;
  justify-content: space-around;
  padding: 5px 0px;
}

.button,
button {
  padding: 2px 5px;
  background-color: var(--vscode-editor-background);
  color: var(--vscode-editor-foreground);
  border: 2px var(--vscode-editor-foreground) solid;
  border-radius: 10px;
}

.field {
  margin-bottom: 10px;
}

.value {
  width: 100%;
  box-sizing: border-box;
  padding-left: 20px;
}

.value > input,
textarea {
  width: 100%;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader {
  width: 20px;
  height: 20px;
  border: 5px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hidden {
  display: none;
}
