.DS_Store
Thumbs.db
.vscode/
.vscode-test/
.idea/
.eslintcache
lib-cov
*.log
*.log*
pids

# Node
.npm/
node_modules/
package-lock.json
npm-debug.log

# Build outputs
dist/
out/
build/
*.tsbuildinfo
.history/

# env
.env
.env*

# Output of 'npm pack'
*.tgz


