{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": true,
  "proseWrap": "preserve",
  "singleQuote": true,
  "arrowParens": "avoid",
  "trailingComma": "es5",
  "bracketSpacing": true
}
