body {
  background-color: var(--vscode-editor-background);
}

svg {
  z-index: 0;
}

#edges polyline {
  stroke: var(--vscode-editor-foreground);
}

#container,
#container > svg,
#nodes {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.node {
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.node > div {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px var(--vscode-editor-foreground) solid;
  max-width: 280px;
  height: 100%;
  box-sizing: border-box;
  padding: 0 5px;
  background: var(--vscode-editor-background);
}

.node img {
  filter: invert(1);
  width: 20px;
  height: 20px;
}

.step {
  border-radius: 10%;
}

.artifact {
  border-radius: 9999px;
}
