---
name: Spellcheck
on: [pull_request]
jobs:
  spellcheck:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Actions Repository
        uses: actions/checkout@v6
      - name: Spell Check Repo
        uses: crate-ci/typos@v1
